body {
    background-image : linear-gradient(90deg, #ffc93c, #ff6f3c );
    position: relative;
    left: 600px;
    top: 300px
}

/*mother div*/
.search-container {  
  background-color: rgba(250, 250, 250, .2);
  width: 400px;
}


input {
  background-color: rgba(250, 250, 250, .2);
  border-color: orangered;
  width: 393px;
  height: 30px;
}

/*child div with ul*/
.suggestions {
  list-style-type: none;
  width: 400px;
}

/* fruit drop down */
.fruitList {
  list-style-type: none;
  text-align: left;
  position: relative;
  width: 391px;
  left: -35px;
  margin-top: 10px;
  margin-bottom: 30px;
}